<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {{ appName }}
    
    </title>

    <!-- jQuery -->
   
   <script src="/socket.io/socket.io.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

      <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <!-- My Styles -->
    <link rel="stylesheet" href="/stylesheets/style.css">
     
  </head>
  <body>
       
    <header>
    {{> shared/_nav }}
      </header>
    <main class="container-full" >
      {{{ body }}}
        
        
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      let socket = io.connect('localhost:3000');
      $(document).ready(() => {
        $("#myForm").submit((e) => {
           e.preventDefault();
          let message="";
          message =$('#comment').val();
          let person = '{{user}}'
          let data1 = {p: person, m: message}
          socket.emit('chat', data1);
        });
        socket.on("new message", data =>{
          $('#msg').append(`<tr><td><h4 style="color:red"><span style="color:blue">${data.p}</span>: ${data.m}</h5></td></tr>`);
        });
      
      })
    </script>
    </main>
  </body>
  
</html>
